.nav-wrap{
    width: 1920px;
    height: 106px;
    display: flex;
    position: absolute;
    z-index: 999;
    text-align: center;

    .logo{
      width: 317px;
      height: 40px;
      background-image: url(../../assets/img/logo.png);
      margin-left: 30px;
      margin-top: 30px;
    }

    .router{
      position: absolute;
      left: 431px;
      margin-top: 30px;
      display: flex;
      .select-tab{
        position: absolute;
        left: 0;
        top: 38px;
        width: 130px;
        height: 37px;
        line-height: 45px;
        background-image: url(../../assets/img/select_tab.png);
        display: flex;
        justify-content: center;
        color: #FFBB33;
        font-size: 18px;

      }
      .router-level{
        color: #D9D9D9;
        font-size: 20px;
        line-height: 31px;
        width: 130px;
        height: 30px;
        justify-content: center;
        align-items: center;
        background-image: url(../../assets/img/unclick_btn.png);
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1111;
        &:hover{
          color: #2ED6E6;
          background-image: url(../../assets/img/click_btn.png);
          background-repeat: no-repeat;
        }

        &.active{
          color: #2ED6E6;
          background-image: url(../../assets/img/click_btn.png);
          background-repeat: no-repeat;
        }

        .router-link{
          width: 130px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .level1{
          // width: 500px;
          background-color: rgba(0,0,0,0.02);
          text-align: left;

          &.active{
            width: 500px;
          }
          span{
            width: 130px;
          }
          .router-link{
            width: 130px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .router-level1{
            margin-top: 15px;
            text-align: center;
            display: inline-block;
          }

          .router-level2{
            display: inline-block;
            text-align: center;
          }
        }

      }

    }

    .date{
        margin-left: 1164px;
        margin-top: 30px;
  
        display: flex;
        align-content: flex-start;
  
        .date-wrap{
          width: 50px;
          .date-val{
            width: 50px;
            font-family: PingFang-SC-Bold;
            font-size: 26px;
            line-height: 20px;
          }
          .date-text{
            font-size: 12px;
            margin-top: 5px;
          }
        }
  
        .pm-message{
          margin-left: 50px;
        }
        .line{
          width: 2px;
          height: 30px;
          margin-left: 15px;
          background-color: #fff;
          margin-top: 4px;
        }
        .time{
          margin-left: 15px;
          .date-time{
            letter-spacing: 2px;
          }
          .date-text{
            width: 120px;
          }
        }
      }
  
      .exit{
        margin-left: 110px;
        margin-top: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        i{
          font-size: 30px;
          background-color: rgba(0,0,0,0.02);
        }
      }
}