.humanroom-home{
    position: relative;

  

    .population-analysis{
      position: absolute;
      left: 30px;
      top: 165px;
    }

    .community-flow{
      position: absolute;
      left: 30px;
      top: 440px;
    }

    .community-residents{
      position: absolute;
      left: 30px;
      top: 730px;
    }

    .building-overview{
      position: absolute;
      left: 1540px;
      top: 165px;
    }

    .housing-statistics{
      position: absolute;
      left: 1540px;
      top: 429px;
    }
    .building-components{
      position: absolute;
      left: 1540px;
      top: 702px;
    }

    .reset-and-refresh{
      position: absolute;
      left: 1490px;
      top: 165px;
    }
  }